#delete-portfolio {
  width: 400px;
  position: sticky;
  top: 38vh;
  left: 38vw;
  background-color: whitesmoke;
  font-size: 22px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #fd1d1d;
  justify-content: space-between;
}

.delete-portfolio-card {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 400px;
  position: sticky;
  top: 38vh;
  left: 38vw;
  background-color: whitesmoke;
  font-size: 22px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.delete-portfolio-card:hover {
  transform: translateY(-4px);
}

.delete-portfolio-card__warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.delete-portfolio-card__warning-red {
  font-weight: 500;
  font-size: 19px;
  color: #ef665b;
  text-align: center;
}

.delete-portfolio-card__warning-text {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.delete-portfolio-card__buttons {
  display: flex;
  flex-direction: row;
}

.delete-portfolio-card__button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-portfolio-card__button--no {
  background-color: #fff;
  border: 1px solid #ef665b;
  color: #ef665b;
}

.delete-portfolio-card__button--no:hover {
  background-color: #ef665b;
  color: #fff;
}

.delete-portfolio-card__button--yes {
  background-color: #ef665b;
  color: #fff;
}

.delete-portfolio-card__button--yes:hover {
  background-color: #c93c32;
}

.delete-portfolio-card__button--yes {
  order: -1;
}

/* #confirm-portfolio-reset {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(0, 199, 0);
    height: 20px;
  }

  #deny-portfolio-reset {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(255, 0, 0)
  } */

#reset-portfolio {
  grid-row: 1/2;
  grid-column: 3/4;
  font-size: 28px;
  align-self: end;
  justify-self: center;
}
/*
  #reset-button {
    border: 2px solid grey;
    background-color: rgb(255, 134, 134)
  } */

#reset-button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.8rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

#reset-button:hover {
  filter: brightness(110%);
}

#reset-button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#reset-button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

#reset-button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#reset-button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

#reset-button:focus:not(:focus-visible) {
  outline: none;
}

#errors-errors-delete {
  display: flex;
  flex-flow: column;
  font-size: 0.8em;
  align-items: inherit;
  list-style-type: none;
  justify-content: center;
  font-weight: 700;
  margin-right: 10px;
  color: red;
  padding: 5px;
  text-align: center;
}

.portfolio-chart-warning {
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
}
