#delete-portfolio {
    width: 400px;
    height: 250px;
    position: sticky;
    top: 48vh;
    left: 48vw;
    background-color: whitesmoke;
    font-size: 22px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #fd1d1d;
    justify-content: space-between;
  }

  .delete-portfolio-items {
    height: 100%;
    align-self: center;
    justify-items: center;
    margin: 5px;
  }

  #delete-portfolio-paragraph {
    font-size: 18;
    text-align: center;

  }

  #delete-confirm {
    font-style: italic;
    font-size: 24;
  }

  #delete-form-title {
    color: red;
    font-style: italic;
  }

  /* #confirm-portfolio-reset {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(0, 199, 0);
    height: 20px;
  }

  #deny-portfolio-reset {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(255, 0, 0)
  } */

  #reset-portfolio {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 28px;
    align-self: center;
    justify-self: center;
  }
/*
  #reset-button {
    border: 2px solid grey;
    background-color: rgb(255, 134, 134)
  } */

  #reset-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }

   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }

   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }

   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }

   #reset-button:hover {
    filter: brightness(110%);
   }

   #reset-button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   #reset-button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }

   #reset-button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   #reset-button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }

   #reset-button:focus:not(:focus-visible) {
    outline: none;
   }
