#delete-portfolio-form {
    width: 400px;
    height: 250px;
    position: sticky;
    top: 48vh;
    left: 48vw;
    background-color: whitesmoke;
    font-size: 22px;
    display: flex;
    flex-flow: column;
    /* align-items: revert; */
    border-radius: 20px;
    /* border: 2px solid #1dfd1d; */
    justify-content: space-between;
  }
