#app-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: rgb(255, 255, 255);
    padding: 0 2.4rem;

    /* display: grid;
    align-items: center;
    height: 6.4rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 2.4rem;
    grid-template-columns: 1fr minmax(auto, 102.4rem) 1fr; */
}
.header__menuItems a {
    font-weight: bold;
    text-decoration: none;
    padding : 0 10px;
    font-size: 16px;
  }
  .header__menuItems{
    padding: 16px
  }
  .header__menuContainer {
    margin-left: auto; /* Push menu items to the left */
  }
  .header__menuItems a:hover {
    color : #5AC53B;
  }


@media screen and (min-width: 1200px) {
    #app-nav-bar {
        padding: 0 4.8rem
    }
}

#app-nav-bar-logo {
    font-size: 3rem;
    justify-self: self-start;
}
#app-nav-bar-logo:hover{
    color:#00C805
}

.navbar-green:hover {
    color: #00C805
}

.navbar-red:hover {
    color:  #FF6600
}

#account-button-container {
    width: min-content;
    justify-self: flex-end;
}

#account-button {
    position: relative;
    height: min-content;
    padding: 0;
    border-radius: 0;
    border: none;
    min-width: min-content;
    padding: .6rem 0;
}

.account-color-green:hover {
    color:  #00C805;
}

.account-color-red:hover {
    color:  #FF6600;
}


#account-button.account-button-hold {
    color:  #00C805;
    border-bottom: 2px  #00C805 solid;
}

#account-button.account-color-red.account-button-hold {
    color:  #FF6600;
    border-bottom: 2px  #FF6600 solid;
}

#app-nav-bar-account-submenu {
    position: absolute;
    width: 30rem;
    right: 2.4rem;
    line-height: 2rem;
    font-size: 1.5rem;
    border: 1px solid #E3E9ED;
    border-radius: .8rem;
    background-color: white;
    animation: submenu-opacity 200ms ease-in-out forwards;
    font-weight: 600;
    box-shadow: 0px -12px 24px rgba(0, 0, 0, 0.02), 0px 12px 24px rgba(0, 0, 0, 0.02);
}

@keyframes submenu-opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 1;
    }
}

#submenu-account-information {
    padding: 0 2.4rem;
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #E3E9ED;
}

#submenu-profile-container {
    padding: 0 2.4rem;
    display: flex;
    border-bottom: 1px solid #E3E9ED;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    gap: 1.2rem;
}

#submenu-profile-container:hover {
    cursor: pointer;
    background-color:#E3E9ED;
    user-select: none;
}

#submenu-profile-container .fa-face-smile {
    font-size: 1.6rem;
}

#submenu-logout-container {
    padding: 0 2.4rem;
    display: flex;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    gap: 1.2rem;
}

#submenu-logout-container:hover {
    cursor: pointer;
    background-color: #E3E9ED;
    user-select: none;
}

#submenu-profile-container .fa-arrow-right-from-bracket {
    font-size: 1.6rem;
}
